In [34]:
import pandas as pd

In [35]:
def format_numbers(x):
    if x >= 1_000_000 :
        return f'{x/1_000_000:,.1f}Mi'
    elif x >= 1_000 :
        return f'{x/1_000_000:,.2f}Mi'
    elif x >= 1 :
        return f'{x/1_000:,.1f}k'

In [36]:
file = 'tancagem_abastecimento_nacional.csv'
tancagem = pd.read_csv(file)
tancagem.head(3)

,Data,NomeEmpresarial,Uf,Municipio,Cnpj,CodInstalacao,Segmento,DetalheInstalacao,Tag,TipoDaUnidade,GrupoDeProdutos,TancagemM3
0,2025-03-24,2 IRMAOS PRODUTOS DE PETROLEO LTDA,SP,CAMPINAS,43544287000123,1066748,BASES DO RAMO DE TRR,EXCLUSIVA,TQ 06,TANQUE,DERIVADOS E BIOCOMBUSTÍVEIS,11
1,2025-03-24,2 IRMAOS PRODUTOS DE PETROLEO LTDA,SP,CAMPINAS,43544287000123,1066748,BASES DO RAMO DE TRR,EXCLUSIVA,TQ 07,TANQUE,DERIVADOS E BIOCOMBUSTÍVEIS,20
2,2025-03-24,2 IRMAOS PRODUTOS DE PETROLEO LTDA,SP,CAMPINAS,43544287000123,1066748,BASES DO RAMO DE TRR,EXCLUSIVA,TQ 08,TANQUE,DERIVADOS E BIOCOMBUSTÍVEIS,20

In [37]:
tancagem = tancagem[tancagem['TipoDaUnidade'] == 'TANQUE']
tancagem.groupby(['Uf', 'GrupoDeProdutos', 'TipoDaUnidade'])['TancagemM3'].sum().reset_index().sort_values(by='TancagemM3',ascending=False)
tancagem['GrupoDeProdutos'].drop_duplicates()

0      DERIVADOS E BIOCOMBUSTÍVEIS
14                        PETRÓLEO
29                             GLP
184                         OUTROS
Name: GrupoDeProdutos, dtype: object

In [39]:
tancagem.groupby('GrupoDeProdutos')['TancagemM3'].sum().apply(format_numbers).reset_index().sort_values(by='TancagemM3',ascending=False)

               GrupoDeProdutos TancagemM3
0  DERIVADOS E BIOCOMBUSTÍVEIS     45.0Mi
3                     PETRÓLEO     11.1Mi
2                       OUTROS      1.8Mi
1                          GLP     0.59Mi